.imgPlaceholder {
  height: 90px;
  background-color: rgba(187, 187, 187, 0.85);
  margin-right: 10px;
  position: relative;
}

.image {
  position: absolute;
}

.title {
  font-weight: bold;
  color: #215BE8;
}
