.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 10px 0;
}

.player {
  overflow-y: auto;
  position: relative;
}

.sidebar {
  composes: player;

  margin-left: 10px;
  min-width: 500px;
}
